CD_API_BASE_URL=http://seaap.minsa.gob.pe/
CD_DB_HOST=31.220.84.86
CD_DB_USER=felix
CD_DB_PASSWORD=
CD_DB_NAME=compromiso_uno
CD_DB_TABLE=padronnominal
CD_DB_DNI_FIELD=dni
CD_DB_FILTER_FIELD=etapa
CD_DB_FILTER_VALUE=2025-05-01

